/* stylelint-disable selector-list-comma-newline-after */
/*.container img{*/
/*  transition: transform .2s;*/
/*}*/
/*.container img:hover{*/
/*  transform: scale(1.5);*/
/*}*/
.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  /*font-family: "Playfair Display", Georgia, "Times New Roman", serif!*rtl:Amiri, Georgia, "Times New Roman", serif*!;*/
  font-family:"Joti One", sans-serif;
  font-size: 13rem;
  text-decoration: none;
}
@media (max-width: 768px) {
  .blog-header-logo {
    font-size: 1.3rem;
  }
}

.blog-header-logo:hover {
  text-decoration: none;
}
.blog-post h1, h2, h3, h4{
  font-family: "Carter One";
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/* THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  border-radius: 30px 30px 30px 30px;
  overflow: hidden;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 5;
}
.featured-body{
  bottom: 3rem;
  z-index: 5;
}
.featured-card{
  height:14rem;
}
/* Declare heights because of positioning of img element */
.carousel-item {
  height: 14rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 14rem;
}
/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 3rem;
  font-family:"Joti One", sans-serif;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
 * Footer
 */
.blog-footer {
  padding: 3rem 0;
  color: white;
  text-align: center;
  background-color: black;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer a, span{
  color: deepskyblue;
}
.blog-footer h6{
  font-family: "Joti One";
  font-size: 20px;
  font-weight: bold;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .featured-body p{
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .carousel-caption p {
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

@media(max-width: 65em){
  .featured-card{
    height: 15rem
  }
  .carousel-item{
    height: 15rem
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 15rem;
  }
  featured-body p{
    display: none;
  }
  featured-body h1{
    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 1;
  }
  .carousel-caption p {
    display: none;
  }
  .carousel-caption h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 1;
  }
}
.selected-img{
  height:300px
}
.selected-card{
  height:550px;
  font-family: "Comic Sans MS";
}
.selected-card h2{
  font-family: "Joti One"
}
.selected-card p{
  font-size: 18px
}
.selected-card a{
  font-size: 15px
}
.yakima-card:hover{
  color: royalblue;
}
.elephant-card:hover{
  color: #FFA450;
}
.toko-card:hover{
  color: deepskyblue;
}
.pika-card:hover{
  color:rebeccapurple;
}

.other_projects i{
  color: black;
}
.all-card{
  height: 350px;
  font-family: "Comic Sans MS";
}
.all-card a{
  font-family: "Joan"
}
.all-card img{
  height: 200px
}
.all-card:hover{
  font-weight: bold;
}
.self-intro1{
  font-size: 20px;
  font-family: "Comic Sans MS";
  font-weight: bold;
}
.jotione{
  font-family: "Joti One"
}
.comicsans{
  font-family: "Comic Sans MS"
}
.joan{
  font-family: "Joan"
}
.navbar-brand{
  font-family:"Joti One"
}
.navbar-brand:hover{
  text-decoration: underline;
}
.section-title{
  font-family: "Joti One";
}
.project-headimg{
  height: 400px;
  width: 100%;
}
.blog-post{
  font-family: "Arial"
}
.btn-back{
  border-color: dodgerblue;
  color: dodgerblue;
}
.color-blue{
  color: dodgerblue;
}
.project-intro{
  font-size: 20px;
  font-weight: bold;
}
.project-odd{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,243,243,0.9976365546218487) 44%, rgba(255,255,255,1) 100%);
}
.project-even{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(243,253,255,0.9976365546218487) 44%, rgba(255,255,255,1) 100%);
}
