/* stylelint-disable selector-list-comma-newline-after */
/*sticky ads*/
.sticky-ad{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top:23%;
    left: 0;
    width: 8%;
    float:left;
    text-align: end;
}
.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 40px;
    text-decoration: none;
    font-weight: bolder;
}
.logo-img{
    width: 60%;
}
/* tablet and phone */
@media (max-width: 768px) {
    .logo-img {
        width: 70px;
    }
    .blog-header-logo {
        font-size: 28px;
        text-decoration: none;
    }
}


/* phone view */
@media (max-width: 480px){

}
.small-font{
    font-size: 12px;
}
.card{
    width:100%;
}
.card-img{
    float: right;
    width: 30%;
    height: 350px;
}
.side-img{
    width: 100px;
}
.text-sidebar{
    font-size:21px;
    color: white;
}
.card-title{
    font-size: 30px;
    font-weight: bold;
    color: #FFFDFD;
}
.card-rate{
    word-spacing: 10px;
    font-weight: bold;
    color: #E1D8D8;
    font-size: 15px
}
.card-des{
    font-size: 12px;
    color: #FFFDFD;
}
.card-body h6{
    color: #FFFDFD;
}
.card-btn{
    color:#FFFDFD;
    background-color: #0C0946;
}
.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}
.foot-text{
    font-size: 12px;
    color: white;
}
.foot-text-link{
    font-size:15px;
    text-decoration: underline;
    color:white;
}
.dark-prime{
    color: #35327B;

}
.black{
    color: black;
}
.light-blue{
    color: #0095DA;
}
.dark-yellow{
    color: #DBBB82;
}
.blog-header-logo:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.display-4 {
    font-size: 2.5rem;
}
@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
    .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}
.blog-pagination > .btn {
    border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
    margin-bottom: 4rem;
}
.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
}

/*
 * Footer
 */
.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: rgba(217,217,217,0.46);
    border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}
.diagonal-gradient {
    background: linear-gradient(to bottom right, #0C0946 60%, #A3895B) fixed;
}
.color-white{
    color:white;
    text-underline-color: white;
    fill: white;
}
.bg-prime{
    background-color: #35327B;
}
.bg-prime-dark{
    background-color: #0C0946;
}
.card{
    background-color: rgba(255, 253, 253, 0.22);
}
.side-bar{
    color: white;
}
.dropdown{
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}